* {
    font-family: "Open Sans";
}

body {
    margin-top: 50px;
}

.form-container {
    box-shadow: 0px 0px 15px gray;
    font-family: arial;
    width: 50%;
    margin-inline: auto;
    padding-inline: 20px;
    padding-block: 40px;
    background-color: gainsboro;
}


h1 {
    font-family: "Open Sans";
    text-align: center;    
}

table {
    margin-inline: auto;
    border-collapse: collapse;
}

table tr, th, td {
    border: 1px solid black;
    margin-inline: auto;
    padding-inline: 20px;
    padding-block: 40px;
    width: 100px;
}

input {
    padding: 5px;
    margin-left: 10px;
    width: 500px;
}

button {
    padding: 10px 30px 10px 30px;
}

select {
    padding: 5px;
    margin-left: 10px;
}